<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271997165503-tpcmn2t079qt0imbuvol14ird9g9l5mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271997165503-tpcmn2t079qt0imbuvol14ird9g9l5mc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>271997165503-0sk59dlhktdidbaq6eu3ejn7abfcatjq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtqeYs_MrLO6woZ7lhqNcBr0XoD4ExVmw</string>
	<key>GCM_SENDER_ID</key>
	<string>271997165503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vegasolutions.travana</string>
	<key>PROJECT_ID</key>
	<string>ljubljana-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ljubljana-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:271997165503:ios:91e4987410a7248bb00b0a</string>
	<key>DATABASE_URL</key>
	<string>https://ljubljana-app.firebaseio.com</string>
</dict>
</plist>
